<div class="container" *ngFor="let item of menuItems">
  <div class="itemImage">
    <img src='../../assets/images/drinks/{{item.image}}'>
  </div>
  <div class="itemDetails">
      <p class="itemTitle">{{item.name}}</p>
      <p class="label">Type</p>
      <span class="bodyText">{{item.glass}}</span>
      <p class="label">Description</p>
      <span class="bodyText">{{item.description}}</span>
  </div>
  <div class="itemProfile">
    <table>
      <tr><th>Drink Type:</th><td>{{item.type}}</td></tr>
      <tr><th>Served:</th><td>{{item.served}}</td></tr>
      <tr><th>Garnish:</th><td>{{item.garnish}}</td></tr>
      <tr><th>Tastes Like:</th><td>{{item.similarTastes}}</td></tr>
    </table>
  </div>
</div>
