<div class="corner-ribbon top-right sticky xmas text">Merry Christmas!</div>
<!-- Banners for special occasions
  <div class="corner-ribbon top-right sticky usa text">Happy 4th of July</div>
  <div class="corner-ribbon top-right sticky turquoise text">Happy Easter!</div>
  <div class="corner-ribbon top-right sticky blue text">Super Bowl!</div>
  <div class="corner-ribbon top-right sticky red text">Happy New Year!</div>
-->
<div style="text-align:center">
  <div class="headerContainer">
    <div class="headerImage">
        <img src='../../assets/images/bar-logo.gif'>
    </div>
     <div class="headerRight">
        <div class="headerText">Today's<br /> Specials</div>
     </div>
  </div>
  <app-items style="text-align:center"></app-items>
</div>

